/* Titre de tableau style de police, police, couleur*/
h1 {
    font-family: helvetica;
    font-size: 20pt;
    color: rgb(0, 0, 0)
}

/* Police d'écriture des textes de tout les tableaux*/
h3 {
    font-family: helvetica
}

/* Couleur d'arrière-plan*/
body {
    background-color: rgb(140, 140, 140)
}

/* Style de puces pour les listes*/
li {
    list-style-type: circle
}

/* Couleur et style des liens*/
a:link {
    color: rgb(255, 136, 0);
    text-decoration: none;
}

/* Couleur et style des liens quand on le survole*/
a:hover {
    color: rgb(0, 0, 0);
}

/* Position de la photo*/
#pos_abs {
    color: rgb(0, 0, 0);
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Taille maximale de la photo*/
img {
    max-width: 100px;
}

/* Couleur des lignes de tableaux*/
.etudescolor tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

.diplomescolor tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

.qualificationscolor tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

.experiences_professionnellescolor tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

.activitescolor tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

/* Supprime les lignes dans les tableaux*/
table { border-collapse:collapse;
width:100%;
} 

#etudes {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
    /* Longueur de tout les tableaux*/
    width: 100%;
    /* Bordure en points*/
    border: dotted;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(255, 136, 0);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;

}

#diplomes {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
        /* Longueur de tout les tableaux*/
        width: 100%;
    /* Bordure en points*/
    border:dotted ;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(121, 121, 121);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;

}

#qualifications {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
        /* Longueur de tout les tableaux*/
        width: 100%;
    /* Bordure en points*/
    border: dotted;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(255, 136, 0);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;

}


#experiences_professionnelles {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
        /* Longueur de tout les tableaux*/
        width: 100%;
    /* Bordure en points*/
    border: dotted;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(121, 121, 121);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;
}


#activites {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
        /* Longueur de tout les tableaux*/
        width: 100%;
    /* Bordure en points*/
    border: dotted;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(255, 136, 0);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;
}


#divers {
    /* Couleur de la bordure des tableaux*/
    border-color: rgb(0, 0, 0);
        /* Style de bordure des tableaux*/
        border-style: dashed;
        /* Longueur de tout les tableaux*/
        width: 100%;
    /* Bordure en points*/
    border: dotted;
    /* Espacement entre les tableaux*/
    margin-bottom: 20px;
    /* Alignement des textes dans les tableaux*/
    text-align: left;
    /* Couleur de fond de tableaux*/
    background-color: rgb(121, 121, 121);
    /* Bordure arrondis des tableaux*/
    border-radius: 15px;
}
